In [23]:
import os
import pandas as pd
import re
import datetime

In [12]:
path = os.getcwd()
path += '\\xls\\'
files = os.listdir(path)
files

['5047104371_5047104371_01012024_182517412.xlsx',
 '5047104371_5047104371_02012024_144224536.xlsx',
 '5047104371_5047104371_03012024_135314193.xlsx',
 '5047104371_5047104371_04012024_165517962.xlsx',
 '5047104371_5047104371_05012024_171029484.xlsx',
 '5047104371_5047104371_06012024_173324148.xlsx',
 '5047104371_5047104371_08012024_004955534.xlsx',
 '5047104371_5047104371_08012024_174125245.xlsx',
 '5047104371_5047104371_09012024_141523849.xlsx',
 '5047104371_5047104371_10012024_173249160.xlsx']

In [3]:
df = pd.DataFrame()

In [14]:
df = pd.concat([pd.read_excel(('xls/' + file),
                              skiprows=1,
                              skipfooter=2,
                              usecols=[3, 4, 5, 6, 8, 14],
                              dtype={0: str, 2: str}) for file in files])

In [15]:
df.head()

,Номер мерчанта,Наименование ТСТ,Номер терминала,Дата операции,Сумма операции,Тип операции
0,781000808223,CP_Плаза-Телеком._P_QR,28326593,2023-12-31 23:21:38,120,Покупка
1,781000808223,CP_Плаза-Телеком._P_QR,29264133,2023-12-31 06:49:55,110,Покупка
2,781000808223,CP_Плаза-Телеком._P_QR,29264133,2023-12-31 06:51:53,110,Покупка
3,781000808223,CP_Плаза-Телеком._P_QR,29264133,2023-12-31 20:41:40,110,Покупка
4,781000808223,CP_Плаза-Телеком._P_QR,29604706,2023-12-31 00:21:36,150,Покупка

In [135]:
df.to_excel('10days.xlsx')

In [16]:
df.isnull().sum()

Номер мерчанта      56
Наименование ТСТ    56
Номер терминала     56
Дата операции       56
Сумма операции       0
Тип операции        56
dtype: int64

In [17]:
df = df.dropna()

In [27]:
df['Дата операции'].unique()

<DatetimeArray>
['2023-12-31 23:21:38', '2023-12-31 06:49:55', '2023-12-31 06:51:53',
 '2023-12-31 20:41:40', '2023-12-31 00:21:36', '2023-12-31 09:06:56',
 '2023-12-31 11:28:28', '2023-12-31 08:01:22', '2023-12-31 14:40:52',
 '2023-12-31 13:48:51',
 ...
 '2024-01-09 09:56:46', '2024-01-09 11:04:55', '2024-01-09 15:44:58',
 '2024-01-09 17:10:47', '2024-01-09 17:15:08', '2024-01-09 18:34:37',
 '2024-01-09 19:02:23', '2024-01-09 19:42:29', '2024-01-09 20:23:00',
 '2024-01-09 20:28:45']
Length: 34534, dtype: datetime64[ns]

In [29]:
df[df['Дата операции'].dt.strftime('%Y-%m-%d') == '2024-01-02']

,Номер мерчанта,Наименование ТСТ,Номер терминала,Дата операции,Сумма операции,Тип операции
0,781000094404,Плаза-Телеком,21604723,2024-01-06 13:17:38,190,Покупка
1,781000094404,Плаза-Телеком,21604723,2024-01-06 15:20:39,85,Покупка
2,781000094404,Плаза-Телеком,21604723,2024-01-06 18:20:43,110,Покупка
3,781000094404,Плаза-Телеком,21604723,2024-01-06 18:26:43,175,Покупка
4,781000094404,Плаза-Телеком,21604723,2024-01-06 19:15:53,120,Покупка
...,...,...,...,...,...,...
2869,781000123861,CP_Плаза-Телеком.,26423853,2024-01-06 19:35:47,110,Покупка
2870,781000123861,CP_Плаза-Телеком.,26423853,2024-01-06 21:09:16,110,Покупка
2871,781000123861,CP_Плаза-Телеком.,26423853,2024-01-06 22:50:49,110,Покупка
2872,781000123861,CP_Плаза-Телеком.,26423853,2024-01-06 22:52:39,100,Покупка
2877,781000123861,CP_Плаза-Телеком.,26423857,2024-01-06 23:45:29,120,Покупка

In [44]:
df[df['Номер терминала'] == '28326401']

,Номер мерчанта,Наименование ТСТ,Номер терминала,Дата операции,Сумма операции,Тип операции
920,781000808213,Плаза-Телеком_P_QR,28326401,2024-01-02 16:16:39.000,155,Покупка
921,781000808213,Плаза-Телеком_P_QR,28326401,2024-01-02 22:02:13.122,100,Покупка

In [48]:
df_0102 = df[df['Дата операции'].dt.strftime('%Y-%m-%d') == '2024-01-02']

In [55]:
df_0102[df_0102['Номер терминала'].str.contains('28326401')
                 |  df_0102['Номер терминала'].str.contains('21604747')].to_excel("2jan.xlsx")

In [53]:
df_0102[df_0102['Номер терминала'].str.contains('28326401')
                 |  df_0102['Номер терминала'].str.contains('21604747')].groupby('Наименование ТСТ')['Сумма операции'].sum()

Наименование ТСТ
Плаза-Телеком         605
Плаза-Телеком_P_QR    255
Name: Сумма операции, dtype: int64

In [37]:
grouped = df.groupby(['Номер мерчанта', 'Номер терминала'])['Сумма операции'].sum().reset_index()

In [34]:
df.to_excel('10дней.xlsx')

In [40]:
grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Номер мерчанта   717 non-null    object
 1   Номер терминала  717 non-null    object
 2   Сумма операции   717 non-null    int64
dtypes: int64(1), object(2)
memory usage: 16.9+ KB

In [42]:
grouped[grouped['Номер терминала'].str.contains('28326401')
        |  grouped['Номер терминала'].str.contains('21604747')]

    Номер мерчанта Номер терминала  Сумма операции
19    781000094404        21604747           15030
469   781000808213        28326401             255

In [53]:
df = df.drop(columns='Тип операции')

In [56]:
df = df.drop_duplicates(subset=['Номер мерчанта', 'Номер терминала'])

In [71]:
group_merchant_df = df.groupby(['Номер мерчанта', 'Номер терминала', 'Наименование ТСТ']).count()

In [69]:
group_et_df = df.groupby(['Номер терминала', 'Номер мерчанта']).count()

In [117]:
group_et_df = group_et_df.reset_index()

In [70]:
group_et_df.to_excel('bank.xlsx')

In [129]:
df[df['Номер мерчанта'] == '781000676991']

,Номер мерчанта,Наименование ТСТ,Номер терминала,Дата операции
35,781000676991,CP_Плаза-Телеком_P_QR,29607092,2023-12-31 18:37:32.118

In [125]:
not_bp = pd.read_excel('not_bp.xlsx', dtype=str)

In [123]:
not_bp.head()

     et_num
0  28326392
1  28326404
2  28326411
3  28326412
4  28326414

In [126]:
merged = pd.merge(not_bp, df, how='left', left_on='et_num',
                     right_on='Номер терминала')

In [127]:
merged.head()

,et_num,Номер мерчанта,Наименование ТСТ,Номер терминала,Дата операции
0,28326392,781000808213,Плаза-Телеком_P_QR,28326392,2023-12-31 09:21:55
1,28326404,781000808213,Плаза-Телеком_P_QR,28326404,2023-12-31 19:45:51
2,28326411,781000808213,Плаза-Телеком_P_QR,28326411,2023-12-31 07:16:50
3,28326412,781000808213,Плаза-Телеком_P_QR,28326412,2023-12-31 11:52:33
4,28326414,781000808213,Плаза-Телеком_P_QR,28326414,2023-12-31 17:35:56

In [128]:
merged.to_excel('bank_not_in_bp.xlsx')

In [73]:
group_merchant_df.reset_index()

    Номер мерчанта Номер терминала        Наименование ТСТ  Дата операции
0     781000094404        21604723           Плаза-Телеком              1
1     781000094404        21604724           Плаза-Телеком              1
2     781000094404        21604725           Плаза-Телеком              1
3     781000094404        21604726           Плаза-Телеком              1
4     781000094404        21604728           Плаза-Телеком              1
..             ...             ...                     ...            ...
325   781000808223        29733436  CP_Плаза-Телеком._P_QR              1
326   781000808223        29733441  CP_Плаза-Телеком._P_QR              1
327   781000808223        29954717  CP_Плаза-Телеком._P_QR              1
328   781000808223        29954810  CP_Плаза-Телеком._P_QR              1
329   781000808223        30618220  CP_Плаза-Телеком._P_QR              1

[330 rows x 4 columns]

In [96]:
bp_df = pd.read_excel('bp.xlsx', names=['Терминал БП', 'Мерчант БП'])

In [97]:
bp_df.head()

  Терминал БП                                     Мерчант БП
0   С21604727  Мерчант № 781000094404 от 21.10.2019 СберБанк
1   С21604728  Мерчант № 781000094404 от 21.10.2019 СберБанк
2   С21604726  Мерчант № 781000094404 от 21.10.2019 СберБанк
3   С21604724  Мерчант № 781000094404 от 21.10.2019 СберБанк
4   С21604723  Мерчант № 781000094404 от 21.10.2019 СберБанк

In [85]:
bp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Номер терминала  689 non-null    object
 1   Номер мерчанта   689 non-null    object
dtypes: object(2)
memory usage: 10.9+ KB

в банке к каждому мерчанту привязан только один терминал и наоборот

In [87]:
def extract_number(s):
    return re.search("([0-9]{7,15})", s).group(0)

In [102]:
bp_df = bp_df.map(extract_number)

In [115]:
bp_df.head()

  Терминал БП    Мерчант БП
0    21604727  781000094404
1    21604728  781000094404
2    21604726  781000094404
3    21604724  781000094404
4    21604723  781000094404

In [103]:
bp_df[bp_df.duplicated(keep=False)]

Empty DataFrame
Columns: [Терминал БП, Мерчант БП]
Index: []

In [119]:
df_merged = pd.merge(bp_df, group_et_df, how='outer', left_on='Терминал БП',
                     right_on='Номер терминала', indicator=True)

In [120]:
df_merged.to_excel('merge.xlsx')

In [118]:
group_et_df.head()

  Номер терминала Номер мерчанта  Наименование ТСТ  Дата операции
0        21604723   781000094404                 1              1
1        21604724   781000094404                 1              1
2        21604725   781000094404                 1              1
3        21604726   781000094404                 1              1
4        21604728   781000094404                 1              1