In [1]:
import os
import os.path


def get_files(target_dir):
    item_list = os.listdir(target_dir)

    file_list = list()
    for item in item_list:
        item_dir = os.path.join(target_dir,item)
        if os.path.isdir(item_dir):
            file_list += get_files(item_dir)
        else:
            file_list.append(item_dir)
    return file_list

In [22]:
import pandas as pd
df = pd.DataFrame(get_files(r'C:\Users\ms\Desktop\sberPhoto'))
df.head()

                                                   0
0  C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...
1  C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...
2  C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...
3  C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...
4  C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...

In [23]:
df.columns[0]
df['folder'] = df[0].str.split('\\').str[5]
df['file'] = df[0].str.split('\\').str[6]
#df[['V','allele']] = df['V'].str.split('-',expand=True)

In [24]:
df.head()

,0,folder,file
0,C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...,1,photo_2023-11-16_11-36-20.jpg
1,C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...,1,photo_2023-11-16_11-36-21 (2).jpg
2,C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...,1,photo_2023-11-16_11-36-21.jpg
3,C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...,1,photo_2023-11-16_11-36-22 (2).jpg
4,C:\Users\ms\Desktop\sberPhoto\1\photo_2023-11-...,1,photo_2023-11-16_11-36-22 (3).jpg

In [25]:
df.to_excel('flist.xlsx')

In [14]:
year = pd.read_excel('temp.xlsx')

In [15]:
year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  118 non-null    int64
 1   year    118 non-null    int64
dtypes: int64(2)
memory usage: 2.0 KB

In [19]:
year[["number", "year"]] = year[["number", "year"]].astype(str)

In [20]:
year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  118 non-null    object
 1   year    118 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [21]:
year.to_excel('temp_str.xlsx')